<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    hello world with ejs
    <div>
      <img
        class="image"
        src="/images/Màu Nâu Be Ảnh Ghép Nghệ Thuật Trái Tim Và Mèo Hình Nền Máy Tính.png"
        alt="ảnh màu be"
      />
    </div>
  </body>
</html>
